/* PAGINA CHECKOUT */

.checkout_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 69vh;
    margin: 30px;
}

.checkout_container,
.total_container {
    display: flex;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
}

hr {
    margin: 30px 0;
}

.checkout_imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.checkout_imgs form {
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
}

.checkout_imgs label {
    display: block;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 10px;
}

.checkout_imgs input[type="radio"] {
    display: none;
}

.checkout_imgs label img {
    object-fit: contain;
    display: inline-block;
    width: 150px;
    height: 100px;
    cursor: pointer;
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
}

.checkout_imgs input[type="radio"]:checked+img {
    opacity: 1;
}

.total_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MODALE */

#open_modal {
    background-color: #232F3E;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

#open_modal:hover {
    background-color: #2C3E50;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}