.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_logo {
    width: 15%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal_content {
    text-align: center;
    position: relative;
    color: white;
    border-radius: 2px;
    background-color: #232F3E;
    margin: 10% auto;
    padding: 20px 20px 50px;
    border: 1px solid #E28804;
    width: 20%;
}

.sub_btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    background-color: #E28804;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.username,
.password {
    font-size: 14px;
}


.error_msg {
    margin-top: 0;
    color: red;
}

.sub_btn:hover {
    background-color: #a06205;
}

.outlined {
    outline: auto;
    outline-color: red;
    outline-style:solid;
    outline-width: 1px;
}